<!DOCTYPE html>
<html lang="es">
	<%-include('../partials/head') %>
	<body>
		<%-include('../partials/header') %> <%-include('../partials/nav') %>

		<main class="px-5 pb-4 pt-4" style="background-color: #eee;">
			<h2 class="p-3 text-center mx-auto" style="max-width: 65vw;" >Acceder a tu cuenta</h2>
			<form action="" method="post" id="formulario">
				<div class="mb-3 mx-auto" style="max-width: 65vw;">
					<label for="correo" class="form-label text-primary"
						><strong>Correo electrónico</strong></label
					>
					<input
						type="text"
						class="form-control <%= (locals.errors && errors.correo) ? 'is-invalid' : null %>"
						id="correo"
						placeholder="test@gmail.com"
						name="correo" 
						value="<%= locals.oldData && oldData.correo ? oldData.correo : null %>"
					/>
					<% if (locals.errors && errors.correo) { %>
						<p style="color: red">
							<%= errors.correo.msg %> 
						</p>
					<% } %>
				</div>

				<div class="mb-3 mx-auto" style="max-width: 65vw;">
					<label for="password" class="form-label text-primary"
						><strong>Contraseña</strong></label
					>
					<div class="input-group">
						<input 
							type="password" 
							class="form-control <%= (locals.errors && errors.password) ? 'is-invalid' : null %>" 
							id="password" 
							name="password"
						/>
						<button class="btn btn-outline-dark" type="button" onclick="mostrarContrasena()">
							<i class="bi bi-eye"></i>
						</button>
					</div>
					<% if (locals.errors && errors.password) { %>
						<p style="color: red">
							<%= errors.password.msg %> 
						</p>
					<% } %>
				</div>

				<div class="mb-3 mx-auto" style="max-width: 65vw;">
					<div class="form-group form-check">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input" name="remember_user">Recordar mi usuario
						</label>
					</div>
				</div>

				<div class="mb-3 mx-auto d-flex justify-content-between" style="max-width: 65vw;">
					<a href="./registro">Crear cuenta</a>
				</div>

				<div class="mb-3 mx-auto d-flex justify-content-between" style="max-width: 65vw;">
					<a href="/" class="btn btn-secondary col-4">Volver</a>
					<button type="submit" class="btn btn-secondary col-4">Entrar</button>
				</div>
			</form>
		</main>

		

		<%-include('../partials/footer') %>

		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script src="/js/login.js"></script>
		<script>
			function mostrarContrasena(){
				var tipo = document.getElementById("password");
				if(tipo.type == "password"){
					tipo.type = "text";
				}else{
					tipo.type = "password";
				}
			}
		</script>
	</body>
</html>
