<!DOCTYPE html>
<html lang="es">
	<%-include('../partials/head') %>
	<body>
		<%-include('../partials/header') %> <%-include('../partials/nav') %>

		<main class="d-flex justify-content-around mx-auto flex-wrap">
			<form class="w-75" action="<%=producto.idProductos%>?_method=PUT" method="POST" enctype="multipart/form-data" id="formulario">
				<h2 class="p-3 text-center">Editar: <%=producto.nombre%></h2>

				<div class="mb-3">
					<label for="name" class="form-label text-primary"
						><strong>Nombre/Referencia del artículo</strong></label
					>
					<input
						type="text"
						name="name"
						class="form-control <%= (locals.errors && errors.name) ? 'is-invalid' : null %>"
						id="name"
						value="<%= (locals.errors && errors.name) ? oldData.name : producto.nombre %>"
					/>
					<% if (locals.errors && errors.name) { %>
						<p style="color: red">
							<%= errors.name.msg %> 
						</p>
					<% } %>
				</div>

				<div class="mb-3 d-flex justify-content-between flex-column flex-sm-row">
					<div>
						<label for="price" class="form-label text-primary">
							<strong>Precio $</strong>
						</label>
						<input
							type="number"
							name="price"
							class="form-control <%= (locals.errors && errors.price) ? 'is-invalid' : null %>"
							id="price"
							value="<%= (locals.errors && errors.price) ? oldData.price : producto.precio %>"
						/>
						<% if (locals.errors && errors.price) { %>
							<p style="color: red">
								<%= errors.price.msg %> 
							</p>
						<% } %>
					</div>
					<div>
						<label for="discount" class="form-label text-primary">
							<strong>Descuento %</strong>
						</label>
						<input
							type="number"
							name="discount"
							class="form-control <%= (locals.errors && errors.discount) ? 'is-invalid' : null %>"
							id="discount"
							value="<%= (locals.errors && errors.discount) ? oldData.discount : producto.descuento %>"
						/>
						<% if (locals.errors && errors.discount) { %>
							<p style="color: red">
								<%= errors.discount.msg %> 
							</p>
						<% } %>
					</div>
				</div>

				<div class="mb-3">
					<label for="description" class="form-label text-primary">
						<strong>Descripción</strong>
					</label>
					<textarea
						type="text"
						class="form-control <%= (locals.errors && errors.description) ? 'is-invalid' : null %>"
						name="description"
						id="description"						
					><%= (locals.errors && errors.description) ? oldData.description : producto.descripcion %></textarea>
					<% if (locals.errors && errors.description) { %>
						<p style="color: red">
							<%= errors.description.msg %> 
						</p>
					<% } %>
				</div>

				<div class="mb-3">
					<label for="specification" class="form-label text-primary">
						<strong>Especificaciones</strong>
					</label>
					<textarea
						class="form-control <%= (locals.errors && errors.specification) ? 'is-invalid' : null %>"
						name="specification"
						id="specification"
					><%= locals.oldData && oldData.specification ? oldData.specification : producto.especificacion %></textarea>
					<% if (locals.errors && errors.specification) { %>
						<p style="color: red">
							<%= errors.specification.msg %> 
						</p>
					<% } %>
				</div>

				<div class="mb-3 d-flex justify-content-between flex-column flex-md-row">
					<div>
						<label for="category" class="form-label text-primary">
							<strong>Categoría</strong>
						</label>
						<select 
							class="form-select <%= (locals.errors && errors.category) ? 'is-invalid' : null %>" 
							name="category" 
							aria-label="select example"
							id="category"
						>
							<option disabled selected>Selecciona un deporte</option>
							<% for (let c of categorias) { %> 
								<option
								value="<%= c.idCategorias %>"
								<%= (locals.oldData && c.idCategorias == oldData.category) || (!(locals.errors && errors.category) && (c.idCategorias == producto.Categorias_idCategorias)) ? 'selected' : null %> 
								> <%= c.nombre %> 
								</option>
							<% } %> 
						</select>
						<% if (locals.errors && errors.category) { %>
							<p style="color: red">
								<%= errors.category.msg %> 
							</p>
						<% } %>
					</div>

					<div>
						<label for="type" class="form-label text-primary">
							<strong>Tipo</strong>
						</label>
						<select 
							class="form-select <%= (locals.errors && errors.type) ? 'is-invalid' : null %>" 
							name="type" 
							id="type"
							aria-label="select example"
						>
							<option disabled selected>Tipo de producto</option>
							<% for (let t of tipos) { %> 
								<option
								value="<%= t.idTipos %>"
								<%= (locals.oldData && t.idTipos == oldData.type) || (!(locals.errors && errors.type) && t.idTipos == producto.Tipos_idTipos) ? 'selected' : null %> 
								> <%= t.nombre %> 
								</option>
							<% } %> 
						</select>
						<% if (locals.errors && errors.type) { %>
							<p style="color: red">
								<%= errors.type.msg %> 
							</p>
						<% } %>
					</div>
					
				</div>

				<div class="mb-3 d-flex justify-content-between flex-column flex-sm-row">
					<div>
						<label for="cantidad" class="form-label text-primary">
							<strong>Cantidad</strong>
						</label>
						<input
							type="number"
							name="cantidad"
							class="form-control <%= (locals.errors && errors.cantidad) ? 'is-invalid' : null %>"
							id="cantidad"
							value="<%= locals.oldData && oldData.cantidad ? oldData.cantidad : producto.cantidad %>"
						/>
						<% if (locals.errors && errors.cantidad) { %>
							<p style="color: red">
								<%= errors.cantidad.msg %> 
							</p>
						<% } %>
					</div>
					<div>
						<label for="talla" class="form-label text-primary">
							<strong>Talla</strong>
						</label>
						<input
							type="number"
							name="talla"
							class="form-control <%= (locals.errors && errors.talla) ? 'is-invalid' : null %>"
							id="talla"
							value="<%= locals.oldData && oldData.talla ? oldData.talla : producto.talla %>"
						/>
						<% if (locals.errors && errors.talla) { %>
							<p style="color: red">
								<%= errors.talla.msg %> 
							</p>
						<% } %>
					</div>
					<div>
						<label for="color" class="form-label text-primary">
							<strong>Color (en inglés)</strong>
						</label>
						<select
							class="form-select <%= (locals.errors && errors.color) ? 'is-invalid' : null %>"
							aria-label="Default select example"
							name="color"
							id="color"
						>
							<option disabled selected>Color del producto...</option>
							<% for (const c of colores) { %>
								<option
									value="<%= c.idColores %>"
									<%= (locals.oldData && (c.idColores == oldData.color)) || (!(locals.errors && errors.type)) && c.idColores == producto.Colores_idColores ? 'selected' : "" %> 
								> <%= c.nombre %> 
								</option>
							<% } %>  
						</select>
						<% if (locals.errors && errors.color) { %>
							<p style="color: red">
								<%= errors.color.msg %> 
							</p>
						<% } %>
					</div>
				</div>

				<div class="mb-3">
					<label for="pais" class="form-label text-primary"
						><strong>Disponible en...</strong></label
					>
						<% for (let p of paises) { 
							let escogido;
							for (let index = 0; index < relacionProductoPais.length; index++) {
								if (p.idPaises == relacionProductoPais[index].dataValues.Paises_idPaises) {
									escogido = 'ok';
									break;
								}else{
									escogido = null;
								}
							}
						%>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" name="pais" value="<%= p.idPaises %>" id="checkbox-<%= p.idPaises %>" <%= (locals.oldData && (p.idPaises == oldData.pais)) || escogido ? 'checked' : null %> >
								<label class="form-check-label" for="checkbox-<%= p.idPaises %>">
									<%= p.nombre %> 
								</label>
							</div>
						<% } %>
					</select>
					<% if (locals.errors && errors.pais) { %>
						<p style="color: red">
							<%= errors.pais.msg %> 
						</p>
					<% } %>
				</div>

				<div class="mb-3">
					<label for="image" class="form-label text-primary">
						<strong>Imagen (opcional)</strong></label>
					<input
						id="image"
						type="file"
						name="image"
						class="form-control"
						aria-label="file example"
					/>
					<% if (locals.errors && errors.image) { %>
						<p style="color: red">
							<%= errors.image.msg %> 
						</p>
					<% } %>
				</div>

				<div class="d-flex justify-content-between flex-column flex-md-row mt-5">
					<button class="btn btn-secondary col-3 w-auto mt-2" type="submit">
						Editar producto
					</button>
					<button class="btn btn-secondary col-3 w-auto mt-2" type="reset">
						Borrar cambios
					</button>
				</div>
			</form>
			<form action="/products/delete/<%=producto.idProductos%>?_method=delete" method="post" class="w-75 d-flex flex-column flex-md-row">
				<button type="submit" class="btn btn-danger col-3 w-auto mt-2 mb-5">
					Eliminar producto
				</button>
			</form>
		</main>

		<%-include('../partials/footer') %>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script src="/js/edicionProducto.js"></script>
	</body>
</html>
